In [104]:
import pandas as pd
from pandas_profiling import ProfileReport

In [105]:
df = pd.read_csv('./datasets/Internet_Penetracion.csv')
df4 = pd.read_csv('./datasets/Internet_Accesos-por-tecnologia.csv')
df5 = pd.read_csv('./datasets/Internet_Accesos-por-velocidad.csv')
df7 = pd.read_csv('./datasets/Internet_Ingresos.csv')
df11 = pd.read_csv('./datasets/historico_velocidad_internet.csv')

Comenzemos a explorar la data de Internet_Penetracion

In [106]:
df.head()

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78,11
1  2022          3  Capital Federal                       122,28
2  2022          3        Catamarca                        65,33
3  2022          3            Chaco                        43,86
4  2022          3           Chubut                        84,38

In [107]:
df['Provincia'].unique()

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype=object)

In [108]:
df['Año'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014])

In [109]:
df['Trimestre'].unique()

array([3, 2, 1, 4])

No notamos nada raro, sigamos a explorar la data de Internet_Accessos_por_tecnologia

In [110]:
df4.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022
2,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
3,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
4,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021

Podemos notar dos cosas, la primera que tenemos una columna de total, la cual no nos viene da gran ayuda y otra que es Periodo, el cual ya tenemos separado por Año y Trimestre, por lo tanto vamos a eliminarlas.

In [111]:
df4.drop(columns=['Periodo', 'Total'], inplace=True)
df4.head()

    Año  Trimestre       ADSL Cablemodem Fibra óptica  Wireless    Otros
0  2022          3  1.395.277  6.031.970    2.871.541   557.110  235.230
1  2022          2  1.468.333  5.979.214    2.723.285   556.243  231.609
2  2022          1  1.533.240  6.073.426    2.219.533   545.814  251.996
3  2021          4  1.657.615  5.984.240    2.072.236   523.107  252.596
4  2021          3  1.950.631  5.826.257    1.566.048   492.415  250.190

Otra cosa que podemos ver es que el fomrato de ADSL, Cabelmodem, Fibra Optica, Wireless y Otros es de 1.111.111 y esto esta mal, ya que si utilizamos algun softwer de Businnes Inteligence esto no es un valor flotante, si no de string, vamos a modificarlo...

OJO QUE ESTO LO HAREMOS CON TODOS LOS CSV

In [112]:
#Ponemos el nombre de las columnas a modificar dentro de una variable
cols_to_modify = ['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros']
#Transformamos los valores a string
df4[cols_to_modify] = df4[cols_to_modify].astype(str)
#Retiramos el primer punto (.) que encuentre en los valores:
df4[cols_to_modify] = df4[cols_to_modify].apply(lambda x: x.str.replace('.', '', n=1))
#Transformamos los valores a float
df4[cols_to_modify] = df4[cols_to_modify].astype(float)
df4.head(3)

/var/folders/69/7m4xz9b13hj96zbkt5lxyytr0000gn/T/ipykernel_4156/1844027706.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df4[cols_to_modify] = df4[cols_to_modify].apply(lambda x: x.str.replace('.', '', n=1))

    Año  Trimestre      ADSL  Cablemodem  Fibra óptica  Wireless     Otros
0  2022          3  1395.277    6031.970      2871.541   55711.0   23523.0
1  2022          2  1468.333    5979.214      2723.285  556243.0  231609.0
2  2022          1  1533.240    6073.426      2219.533  545814.0  251996.0

Ya que quitamos esas columnas, vamos a explorar a profunidad la data de este archivo

In [113]:
df4.dtypes

Año               int64
Trimestre         int64
ADSL            float64
Cablemodem      float64
Fibra óptica    float64
Wireless        float64
Otros           float64
dtype: object

In [114]:
df4.isnull().sum()

Año             0
Trimestre       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
dtype: int64

In [115]:
df5.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,Unnamed: 11
0,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128,NaN
1,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684,NaN
2,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009,NaN
3,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794,NaN
4,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541,NaN

Nos podemos dar cuenta que las ultimas 3 columnas realmente no las necesitamos para nuestro analisis, asi que vamos a deshacernos de ellas

In [116]:
df5.drop(columns=['OTROS', 'Total', 'Unnamed: 11'], inplace=True)
df5.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps
0,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750
1,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922
2,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187
3,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322
4,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174

Solo para confirmar, revisemos si la columna de Año y Trimestre tienen datos correctos

In [117]:
print(df5['Año'].unique())
print(df5['Trimestre'].unique())

[2022 2021 2020 2019 2018 2017 2016 2015 2014]
[3 2 1 4]

Ya por ultimo transformemos los datos numericos de las demas columnas a su formato ideal

In [118]:
#Ponemos el nombre de las columnas a modificar dentro de una variable
cols_to_modify = ['Hasta 512 kbps', 'Entre 512 Kbps y 1 Mbps', 'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps', 'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps']
#Transformamos los valores a string
df5[cols_to_modify] = df5[cols_to_modify].astype(str)
#Retiramos el primer punto (.) que encuentre en los valores:
df5[cols_to_modify] = df5[cols_to_modify].apply(lambda x: x.str.replace('.', '', n=1))
#Transformamos los valores a float
df5[cols_to_modify] = df5[cols_to_modify].astype(float)
df5.head(3)

/var/folders/69/7m4xz9b13hj96zbkt5lxyytr0000gn/T/ipykernel_4156/2965635524.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df5[cols_to_modify] = df5[cols_to_modify].apply(lambda x: x.str.replace('.', '', n=1))

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps
0,2022,3,33013.0,96727.0,1161.370,1151.906,823505.0,479822.0,6995.750
1,2022,2,33667.0,99498.0,1193.090,1197.030,856562.0,485321.0,6741.922
2,2022,1,3489.0,10484.0,1263.273,1209.148,967508.0,509830.0,6336.187

In [119]:
df7.head()

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022
3  2021          4                45.467.887   Oct-Dic 2021
4  2021          3                42.999.944  Jul-Sept 2021

Eliminemos la columna Periodo ya que tenemos una columna Trimestre

In [120]:
df7.drop(columns='Periodo', inplace=True)
df7.head()

    Año  Trimestre Ingresos (miles de pesos)
0  2022          3                67.055.930
1  2022          2                60.335.724
2  2022          1                55.589.997
3  2021          4                45.467.887
4  2021          3                42.999.944

Por ultimo transformemos la columna ingreso al formato deseado

In [121]:
#Ponemos el nombre de las columnas a modificar dentro de una variable
cols_to_modify = ['Ingresos (miles de pesos)']
#Transformamos los valores a string
df7[cols_to_modify] = df7[cols_to_modify].astype(str)
#Retiramos el primer punto (.) que encuentre en los valores:
df7[cols_to_modify] = df7[cols_to_modify].apply(lambda x: x.str.replace('.', '', n=1))
#Transformamos los valores a float
df7[cols_to_modify] = df7[cols_to_modify].astype(float)
df7.head(3)

/var/folders/69/7m4xz9b13hj96zbkt5lxyytr0000gn/T/ipykernel_4156/2091577745.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df7[cols_to_modify] = df7[cols_to_modify].apply(lambda x: x.str.replace('.', '', n=1))

    Año  Trimestre  Ingresos (miles de pesos)
0  2022          3                  67055.930
1  2022          2                  60335.724
2  2022          1                  55589.997

In [122]:
df11.head(3)

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2022          3                  62,46  Jul-Sept 2022
1  2022          2                  58,44   Abr-Jun 2022
2  2022          1                  55,11   Ene-Mar 2022

Eliminemos la columna Trimestre.1 ya que muestra informacion repetida

In [123]:
df11.drop(columns='Trimestre.1', inplace=True)
df11.head()

    Año  Trimestre Mbps (Media de bajada)
0  2022          3                  62,46
1  2022          2                  58,44
2  2022          1                  55,11
3  2021          4                  52,34
4  2021          3                  48,46

Transformemos el valor de Mbps a float

In [124]:
#Ponemos el nombre de las columnas a modificar dentro de una variable
cols_to_modify = ['Mbps (Media de bajada)']
#Transformamos los valores a string
df11[cols_to_modify] = df11[cols_to_modify].astype(str)
#Retiramos la primer coma (,) a punto (.) que encuentre en los valores:
df11[cols_to_modify] = df11[cols_to_modify].apply(lambda x: x.str.replace(',', '.', n=1))
#Transformamos los valores a float
df11[cols_to_modify] = df11[cols_to_modify].astype(float)
df11.head(3)

    Año  Trimestre  Mbps (Media de bajada)
0  2022          3                   62.46
1  2022          2                   58.44
2  2022          1                   55.11

In [125]:
df.to_csv('./clean_datasets/Internet_Penetracion.csv', index=False)
df4.to_csv('./clean_datasets/Internet_Accesos-por-tecnologia.csv', index=False)
df5.to_csv('./clean_datasets/Internet_Accesos-por-velocidad.csv', index=False)
df7.to_csv('./clean_datasets/Internet_Ingresos.csv', index=False)
df11.to_csv('./clean_datasets/historico_velocidad_internet.csv', index=False)